body{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:  "wdth" 100;
    color:white;
    margin:0;
}
#navBar{
    width:100%;
    background-color:var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navBar div{
    display:flex;
    align-items:center;
    margin:10px;
}

#logoContainer img{
    width:100px;
}

#linksContainer a{
    padding:5px;
    color:white;
}

:root{
    --primary: #3a787a;
}

#searchContainer{
    height:20px;
    background:white;
    padding: 10px;
    border-radius: 10px;
}

#searchContainer button{
    margin-left:5px;
}
button{
    background-color:var(--primary);
    border-radius:50px;
    padding:5px 15px 5px 15px;
    color:white;
    border-style:none;

}

#heroContent{
    background-image: url('./images/skyline.jpg');
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
}

#heroBody{
    width:100%;
}

#heroSocials{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    padding:20px;
}

#heroSocials img{
    width: 30px;
    filter:invert(1)
}


/*Home page*/
#heroHomepage{
    max-width:500px;
    padding-left:30px;
}


/*About page*/
#teamContainer{
    display:flex;
    justify-content: space-around;
    margin-top:100px;
}

.teamMember{
    max-width:200px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.teamMember img{
    width:70px;
    background-color:white;
    border-radius:500px;
    margin:auto;
}

.personName{
    font-size:1.3em;
    font-weight:900;
}

.personTitle{
    margin-top:10px;
    background-color:var(--primary);
    padding:10px 5px 10px 5px;
    border-radius:10px
}

/*Contact*/
#contactContent{
    display:flex;
    justify-content: space-around;
}

#contactForm{
    display:flex;
    flex-direction: column;
    row-gap:30px;
    max-width:300px;
}

#contactForm input, textarea{
    width:300px;
    background-color:transparent;
    border-style:solid;
    border-width:2px;
    border-color:white;
    border-radius:10px;
    padding:10px;
    color:white;
}


/*Search*/
#searchResultsContainer{
    position:absolute;
    z-index:40;
    padding:5%;
    backdrop-filter:blur(10px);
    width:90%;
}

#searchResults{
display: grid;
grid-template-columns: repeat(3, 1fr);
row-gap: 10px;
column-gap: 10px;
align-content: start;
justify-content: start;
}

.searchResultItem{
    background: white;
    color: black;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 2px 5px 0px #0000007a;

}

.searchResultItem img{
    width: 100%;
    height: 100px;
}